<div class="container">
  <div class="container--codpenal">
    <app-codpenal (artData)="openModal($event)" [showSelected]="false"></app-codpenal>
  </div>
  <div class="container--detalhes" id="modalArts" (click)="closeModal()">
    <div class="container--detalhes-content">
      <div>
        Artigo <span> {{ moreInformations?.id }} </span>
      </div>
      <div>
        Crime: <span> {{ moreInformations?.crime }} </span>
      </div>
      <div>
        Observação: <span> {{ moreInformations?.obs }} </span>
      </div>
      <div>
        Fiança: <span> {{ moreInformations?.fianca }} </span>
      </div>
      <div>
        Multa: <span> {{ moreInformations?.multa }} </span>
      </div>
      <div>
        Serviços: <span> {{ moreInformations?.servicos }} </span>
      </div>

    </div>
  </div>
</div>
