<div class="container">
  <div class="container--title">
    <div>
      Código Penal
    </div>
    <input type="text" name="crime" placeholder="Crime Ex. assédio" (keyup)="filterCodPenal($event)">
  </div>
  <div class="container--codpenal">
    <div class="codpenal" *ngFor="let cod of listCodPenal">
      <div class="codpenal--check" *ngIf="showSelected">
        <input [id]="'art'+cod.art" type="checkbox" [checked]="verifySelectedArt(cod) == true" (change)="selectedArt($event, cod)">
        <label [for]="'art'+cod.art" class="checkmark"></label>
      </div>
      <div class="codpenal--content" (click)="selectedArtIsNoSelected(cod)">
        <div>
          <div class="art">
            Art. {{ cod.art }}
          </div>
          <div class="crime">
            {{ cod.crime }}
          </div>
          <div class="comentario">
            OBS. <br>{{ cod.obs }}
          </div>
        </div>
        <div>
          <div class="servicos">
            Serviços {{ cod.servicos }}
          </div>
          <div class="multa">
            Multa {{ cod.multa }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
