<div class="container">
  <form class="container--codpenal">
    <app-codpenal style="height: 100%;" (artData)="updateValuesArt($event)"></app-codpenal>
  </form>
  <div class="container--dados">
    <div class="container--dados-pessoais" *ngIf="searchUser">
      <div>
        Nome: {{ searchUser.name }}
      </div>
      <div>
        Passaporte: {{ searchUser.passaporte }}
      </div>
      <div>
        RG: {{ searchUser.rg }}
      </div>
      <div>
        Emprego: {{ searchUser.emprego }}
      </div>
      <div>
        Telefone: {{ searchUser.tel }}
      </div>
      <div>
        Ficha: aaaaaaaaaaaaaaa num sei
      </div>
      <div>
        Porte: Negado
      </div>
    </div>
    <div class="container--dados-prisao">
      <div>
        <span>
          Art.
        </span>
        <div>
          <ng-container *ngFor="let art of listArt">
            {{ art.art }},
          </ng-container>
        </div>
      </div>
      <div>
        <span>
          valor da multa:
        </span>
        {{ valorMulta }}
      </div>
      <div>
        <span>
          Quantidade de serviços:
        </span>
        {{ quantidadeServicos - ((reducaoServicos / 100) * quantidadeServicos) }}
      </div>
      <div>
        <span>
          Redução dos serviços: {{ reducaoServicos }}%
        </span>
        <input type="range" name="servicos" min="0" max="50" value="0" step="5" [(ngModel)]="reducaoServicos">
      </div>

      <div>
        <span>
          Descrição:
        </span>
        <textarea name="" id="" cols="30" rows="10" resize="false" [(ngModel)]="motivo"></textarea>
      </div>

      <div>
        <button (click)="prisonPlayer()">Prender</button>
      </div>
    </div>
  </div>
</div>
